<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="index::header(list)">
</head>
<body>
<div class="container">
  <div th:replace="index::navbar(list)"></div>
  <table class="table align-middle">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Job</th>
      <th scope="col">Gender</th>
      <th scope="col">City</th>
      <th scope="col">Salary</th>
      <th scope="col">Birthday</th>
      <th scope="col">Image</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="person,iCount:${persons}">
      <th scope="row" th:text="${iCount.index+1}"></th>
      <td>
        <button data-bs-toggle="modal" type="button" class="btn btn-link "
                data-bs-target="#exampleModal" + ${person.id} th:text="${person.name}">
        </button>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title text-primary " id="'exampleModalLabel' +${person.id}" th:text="|Information of ${person.name}|"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title" th:text="|Name: ${person.name}|"></h5>
                    <p class="card-text" th:text="|Email: ${person.email}|">
                    <p class="card-text" th:text="|Job: ${person.job}|">
                    <p class="card-text" th:text="|Gender: ${person.gerder}|">
                    <p class="card-text" th:text="|City: ${person.city}|">
                    <p class="card-text" th:text="|Salary: ${person.salary}|">
                    <div>
                      <img class="img-fluid" th:src="@{/photo/{name}(name=${person.photo})}" alt="No image">
                  </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </td>
      <td th:text="${person.name}"></td>
      <td th:text="${person.salary}"></td>
      <td>
        <img th:src="@{/photo/{name}(name=${person.photo})}" alt="No Img" style="width: 200px">
      </td>
      <td>
        <a th:href="@{/edit/{id}(id=${person.id})}" class="text-infor mx-2">Edit</a>
        <a th:href="@{/delete/{id}(id=${person.id})}" class="text-danger">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>